<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="A2A.BasicCore.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <A2A.BasicCore.Service.Properties.Settings>
            <setting name="SchedulerDataJson" serializeAs="String">
                <value>{
  "defaultData": "default data",
  "restrictedIntervals": [
    {
      "startDay": "Monday",
      "endDay": "Wednesday",
      "startTime": "06:00",
      "endTime": "19:00",
      "restrictedData": "restricted data 1"
    },
    {
      "startDay": "Thursday",
      "endDay": "Friday",
      "startTime": "06:00",
      "endTime": "19:00",
      "restrictedData": "restricted data 2"
    }
  ]
}</value>
            </setting>
        </A2A.BasicCore.Service.Properties.Settings>
    </applicationSettings>
</configuration>
