<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="A2A.MC.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="A2A.MC.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="defaultDb" connectionString="Data Source=.\kaka;Initial Catalog=mimecast;Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="(mssql)"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <A2A.MC.Console.Properties.Settings>
      <setting name="AuthenticationUrl" serializeAs="String">
        <value>https://login-us.mimecast.com/u/login/?gta=administration#/login</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>srv_archive360@franklintempleton.discovery</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Try@4now</value>
      </setting>
      <setting name="ReportsFolderPath" serializeAs="String">
        <value>C:\work\Reports</value>
      </setting>
      <setting name="ScenarioFilePath" serializeAs="String">
        <value>C:\MimecastTool\Projects\Repos\Archive360\Mimecast\Artefacts\Scenario\scenario_20170508.txt</value>
      </setting>
      <setting name="DownloadFolderPath" serializeAs="String">
        <value>D:\Extracted\Downloads</value>
      </setting>
      <setting name="LogsFolder" serializeAs="String">
        <value>C:\work\Logs</value>
      </setting>
      <setting name="ScenarioFileHasHeader" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowLaunchNewExports" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScreenshotsFolderPath" serializeAs="String">
        <value>C:\work\Screenshots</value>
      </setting>
      <setting name="MinSlotsForNewExports" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="OffHoursTimeSlots" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="WorkHoursTimeSlots" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ExportsPageUrl" serializeAs="String">
        <value>https://login-uk.mimecast.com/administration/app/#/l/exports</value>
      </setting>
      <setting name="HomeSearchFolder" serializeAs="String">
        <value>ZZZA360DateRange</value>
      </setting>
      <setting name="SavedSearchesUrl" serializeAs="String">
        <value>https://login-us.mimecast.com/administration/app/#/l/savedsearches</value>
      </setting>
      <setting name="Action" serializeAs="String">
        <value>CreateSearch</value>
      </setting>
      <setting name="MaxResultsPerExport" serializeAs="String">
        <value>50000</value>
      </setting>
      <setting name="CustomerName" serializeAs="String">
        <value>FranklinTempleton</value>
      </setting>
      <setting name="SqlServerInstance" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="ExportFormat" serializeAs="String">
        <value>ExchangeJournal</value>
      </setting>
      <setting name="IncludeLitigationHoldMessages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SqlDatabaseName" serializeAs="String">
        <value>Mimecast_DateRange</value>
      </setting>
      <setting name="IncludeBccRecipients" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SqlDatabasePassword" serializeAs="String">
        <value>a</value>
      </setting>
      <setting name="SqlDatabaseUserName" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="SqlIntegratedSecurity" serializeAs="String">
        <value>False</value>
      </setting>
    </A2A.MC.Console.Properties.Settings>
  </applicationSettings>
</configuration>
